.container {
  margin: 0 auto;
  width: $containerWidth;
  padding-top: 3em;
  text-align: center;
  color: #737373;

  @include clearfix;

  h1 {
    font-family: $serifFontFamily;
  }
  p {
    font-size: 1.4em;
  }
}

