.container {
  width: $containerWidth;
  @include container-fixed();

  padding-top: 3em;
  text-align: center;
  color: #737373;  

  h1 {
    font-family: $serifFontFamily;
  }
  p {
    font-size: 1.4em;
  }
}

