// Reset the box-sizing

*,
*:before,
*:after {
  @include box-sizing(border-box);
}

// Body reset
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
  min-height: 100%;
}

body {
  position: relative;
}

// Images
img {
  vertical-align: middle;
}
