---
title:  This is Thane
---

= partial "layouts/partials/header"
section.container#id
  h1 Hello world! 
  p This is Thane, a feature based on the HTML5 Boilerplate, Bootsrap and Middleman.
= partial "layouts/partials/footer"